<!DOCTYPE html>
<html>
<head>
	<title>Typecast Unit Tests</title>
	<link rel="stylesheet" href="/css/qunit.css" type="text/css" media="screen">
	<script type="text/javascript" src="/js/"></script>
	<script type="text/javascript" src="/js/qunit.js"></script>
	<!-- Your project file goes here -->
	<script type="text/javascript" src="<%= path %>"></script>
	<!-- Your tests file goes here -->
	<script>
	
	
	module("getting started");
	test('Typed Objects', function() {
		var typedObject = Type('number', '123');
		//console.log(typedObject);
		//ok(typedObject instanceof TypedObject, "typedObject is an instanceof Type");
		ok(typedObject.a() === 123, "typedObject.a() === value");
		ok(typedObject.val() === 123, "typedObject.val() === value");
		ok(typedObject.get() === 123, "typedObject.get() === value");
		typedObject.set(456);
		ok(typedObject.get() === 456, "typedObject.set() changes value");
		ok(Type('number', typedObject).type() === 'number', "Type('newType', typedObject) changes type");
		ok(typedObject.ifis('number', function(){ return true; }), "typedObject.ifis('type', function(){ return true; })");
		ok(typedObject.ifis(true, function(){ return true; }), "typedObject.ifis(true, function(){ return true; })");
	});
	
	test('Comparison', function() {
		ok(Type.a('number') === 0, "Type.a('number') === 0");
		ok(Type.a('string') === '', "Type.a('string') === ''");
		ok(Type.is(Type(123), 123), "Type.is(Type(123), 123) is true");
		ok(Type.is('number', Type('number', 123)), "Type.is('number', Type('number', 123)) is true");
		ok(Type.can('number', Type('number', 123)), "Type.can('number', Type('number', 123)) is true");
		ok(Type.make('number', 123) === 123, "Type.make('number', 123) === 123");
		ok(Type.make('number', '123') === 123, "Type.make('number', '123') === 123");
		ok(Type.make('number', 'abc') === 0, "Type.make('number', 'abc') === 0");
		ok(Type.make('integer', Type('number', 123)) === 123, "Type.make('integer', Type('number', 123)) === 123;");
	
	});
	
	test('Creating Types', function() {
		Type.extend({
			name : "negative integer",
			a : -1,
			alias : [ '-integer' ],
			inherits : [ 'integer' ],
			is : function(value){ return Type.is('integer', value) && value < 0; },
			make : function(value){ 
				if (Type.can('integer', value)) { 
					if (value < 0) { return value; };
					if (value !== 0) { return -value; };
				};
				return this.a(); // -1
			}
		});
	
		var opposite = Type('-integer', 123);
		ok(function(){ return opposite.a() === -123; }, "Type('-integer', 123).a() === -123");
		ok(function(){ return Type['negative integer'].make(123) === -123; }, "Type['negative integer'].make(123) === -123");
	});
	
	
	module("type testing");
	function isa(name) {
		return Type[name].is(Type[name].a());
	}
	function make(name) {
		return Type[name].is(Type[name].make(Type[name].a()));
	}
	function can(name) {
		return Type[name].can(Type[name].a());
	}
	module("Is");
	test('is a', function() {
		<% for (i in build.types) { %>
			ok(isa('<%= build.types[i].name %>'), 'a <%= build.types[i].name %> is a <%= build.types[i].name %>');
		<% } %>
	});
	module("Can");
	test('can a', function() {
		<% for (i in build.types) { %>
			ok(can('<%= build.types[i].name %>'), 'a <%= build.types[i].name %> can be made into a <%= build.types[i].name %>');
		<% } %>
	});
	module("Make");
	test('make a', function() {
		<% for (i in build.types) { %>
			ok(make('<%= build.types[i].name %>'), 'a <%= build.types[i].name %> makes a Typed <%= build.types[i].name %>');
		<% } %>
	});
	
	</script>
</head>
<body>
	<h1 id="qunit-header">QUnit Test Suite</h1>
	<h2 id="qunit-banner"></h2>
	<div id="qunit-testrunner-toolbar"></div>
	<h2 id="qunit-userAgent"></h2>
	<ol id="qunit-tests"></ol>
</body>
</html>
